body {
    background-color: #29c252;
    text-align: center;
    font-size: 1rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
  }
  
  #survey-form {
    padding-bottom: 10mm;
    padding-left: 10mm;
    padding-top: 10mm;
    padding-right: 10mm;
    box-sizing: border-box;
    border-style: 15px solid;
    border-radius: 0.25rem;
    display: blocks;
  }
  
  form {
    margin: 0 auto;
    text-align: left;
    box-sizing: border-box;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
    background-color: #208c3d;
  }
  
  .names {
    padding-bottom: 04mm;
  }
  
  .form-control {
    display: block;
    width: 75%;
    padding: 0.75rem;
  }
  
  textarea {
    display: inline-block;
    width: 60%;
    margin-bottom: 1rem;
  }
  
  .button1 {
    appearance: auto;
    align-items: flex-start;
    text-align: center;
    border: none;
  }
  
  #submit {
    margin: 0 auto;
    display: inline;
    border: none;
    color: inherit;
    border-radius: 2px;
    width: 60%;
    padding: 0.75rem;
    background: #1b3d23;
    cursor: pointer;
    font-weight: 400;
  }
  
  